.game-wrapper{
    background-color: rgb(0,0,60);
    height: 400px;
    width: 600px;
    margin: 0 auto;
    padding:0;
    position: relative;
}

*{
    text-align: center;
}

.game-menu{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.7);
    z-index: 3000;
    display: block;
    animation-duration: 1s;
    animation: 
}

.game-menu-content{
    padding-top: 22%;
    padding-bottom: 22%;
    margin:auto;
}
.icon-sm{
    height: 40px;
    width:40px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.standard-icon:hover{
    cursor: pointer;
}
.heart-icon{
    background-image: url("../image/icons8-Hearts Filled-50.png")
}

#start-btn-icon{
    background-image: url("../image/icons8-Circled Play-50.png")
}
#start-btn-icon:hover{
    background-image: url("../image/icons8-Circled Play Filled-50.png")
}
#pause-btn-icon{
    background-image: url("../image/icons8-Circled Pause-50.png")
}
#pause-btn-icon:hover{
    background-image: url("../image/icons8-Circled Pause Filled-50.png")
}
#quit-btn-icon{
    background-image: url("../image/icons8-Cancel-50.png")
}
#quit-btn-icon:hover{
    background-image: url("../image/icons8-Cancel Filled-50.png")
}
.game-actions{
    width:100%;
    padding:0;
    position:absolute;
    top:5px;
    left:0px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.game-action{
    height:50px;
}
/*.pause-btn{
    background-color: orange;
}
.quit-btn{
    background-color: pink;
}
.game-health{
    background-color: red;
}*/